.checked{
    text-decoration: line-through;
}

.unchecked{
    text-decoration: none;
}

.content{
    position: relative;
    left: -70px ;
    width: auto;
    margin: 15px;
    padding: 10px;
    text-align: center;
}

.content input, .content p, .content button{
    display: inline-block;
}
.content p{
    width: auto;
    margin: 0 10px;
}

.content button{
    margin: 0 10px
}
.content input {
    margin: 0 10px
}